@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@400;900&family=Orbitron:wght@400;500;600;700;800;900&family=Oswald:wght@200;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&family=Red+Rose:wght@300;400;700&family=Righteous&family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins';
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #F8F8FA;
    overflow-x: hidden;
}

header {
    background-color: #4516FE;
}

.top1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

nav {
    margin-top: 25px;
    margin-right: 70px;
}

.nav-item {
    margin-right: 30px;
    color: #fff;
    font-size: 14px;
}

.nav-item-active {
    font-size: 13px;
    border: 1px solid #fff;
    padding: 2px 5px;
    background-color: #fff;
    color: #4516FE;
    margin-right: 20px;
}

.logo {
    height: 35px;
    margin-top: 20px;
    margin-left: 70px;
}

.top11 {
    display: flex;
    flex-direction: row;
}

.header-image {
    right: 0;
    position: absolute;
    margin-top: 10px;
    height: 30rem;
    width: 40rem;
}

.header-text {
    margin-left: 70px;
    margin-top: 80px;
}

.header-text h2 {
    font-size: 40px;
    color: #fff;
    margin-top: 5px;
}

.header-text p {
    color: #fff;
    margin-top: 5px;
    font-weight: 100;
    margin-bottom: 8rem;
}

.companies {
   margin-left: 6rem;
   margin-top: 20px;
}

.company-items {
    text-decoration: none;
    color: #000;
    font-size: 23px;
    margin-right: 45px;
    font-family: 'Righteous';
    font-weight: 400;
}

.api {
    margin-left: 6rem;
    margin-top: 5rem;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.card-active {
    margin-right: 70px;
    border: 1px solid #fff;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 10px;
}

.card-head-active {
    margin-top: 10px;
    color: #5A31FC;
    font-weight: 500;
}

.card-body {
    font-size: 14px;
}

.card {
    margin-right: 70px;
    margin-top: 33px;
}

.card-head {
    margin-top: 10px;
    font-weight: 500;
}

.arrow {
    border: 1px solid #5A31FC;
    border-radius: 50%;
    padding: 13px 15px 15px 20px;
    height: 22px;
    background-color: #4516FE;
    color: #fff;
    font-weight: 100;
    margin-top: 90px;
}

.blog-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-heading h1 {
    margin-top: 60px;
    margin-left: 100px;
}

.blog-heading span {
    color: #4516FE;
    margin-right: 90px;
    margin-top: 100px;
}

.blog-cards {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 100px;
}

.blog-card1 {
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    border-width: fit-content;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    margin-right: 50px;
    padding-right: 30px;
    border-radius: 20px;
    border-top-left-radius: 55px;
}

.part1 {
    margin-left: 50px;
    margin-top: 35px;
}

.blog-card2 {
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    border-width: fit-content;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    margin-right: 50px;
    padding-right: 30px;
    border-radius: 20px;
    border-top-left-radius: 55px;
}

.part2 {
    margin-left: 50px;
    margin-top: 35px;
}

.blog-image img {
    height: 20rem;
    width: 22rem;
}

.blog-content h6 {
    color: #4516FE;
    font-size: 14px;
    width: 13.5rem;
}

.blog-content h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog11 {
    display: flex;
    flex-direction: row;
}

.blog22 {
    display: flex;
    flex-direction: row;
}

.blog-card-bottom-image1 {
    margin-top: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.blog-author1 {
    margin-top: 45px;
    margin-left: 10px;
    font-size: 12px;
}

.blog-card-bottom-image2 {
    margin-top: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.blog-author2 {
    margin-top: 45px;
    font-size: 12px;
    margin-left: 10px;
}

.faq-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    background-color: #E9EDFF;
}

.faq-content {
    margin-left: 100px;
    margin-top: 40px;
}

.faq-content h2 {
    font-size: 40px;
}

.faq-content h4:nth-child(2) {
    font-size: 13px;
    font-weight: 100;
    margin-top: 10px;
}

.faq-content h4:nth-child(3) {
    font-weight: 600;
    margin-top: 20px;
}

.faq-content button {
    padding: 10px 20px;
    background-color: #4516FE;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    color: #fff;
}

.faq-image img {
    height: 23rem;
    width: 47rem;
}

.download-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8rem;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 6rem;
}

.download-content span {
    font-weight: 300;
}

form {
    background-color: #ccd5fc;
    border-radius: 20px;
  }
  
  
  form input {
    border: none;
    font-size: .8rem;
    color: #000;
    padding: 0.7rem 2.2rem;
    padding-right: 5rem;
    text-align: start;
    background:transparent;
  }
  
  .download-email button {
    background-color: #4416fe;
    color: #fff;
    border: none;
    padding: .6rem 1.2rem;
    border-radius: 30px;
  }
  

.footer-section {
    background-color: #5A31FC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left {
    margin-left: 100px;
    margin-top: 60px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
}

.list-items {
    font-size: 13px;
    font-weight: lighter;
    margin-right: 30px;
}

.list li:nth-child(2) {
    border-right: 1px solid #fff;
    padding-right: 20px;
}

.list li:nth-child(3) {
    border-right: 1px solid #fff;
    padding-right: 20px;
}

.list li:nth-child(4) {
    border-right: 1px solid #fff;
    padding-right: 30px;
}

.footer-right1 {
    margin-top: 30px;
    margin-left: 18rem;
}

.footer-logos {
    margin-right: 10px;
}

.logos-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
    margin-top: 20px;
    margin-left: 16rem;
}

.logos-list li:nth-child(1) {
    border-right: 1px solid #fff;
    padding-right: 25px;
}

.logos-list li:nth-child(2) {
    border-right: 1px solid #fff;
    padding-right: 25px;
}

@media only screen and (max-width: 680px) {

    .logo {
        height: 30px;
        margin-left: 20px;
    }

    .nav-item-active {
        right: 0;
        position: absolute;
    }

    .nav-item {
        display: none;
    }

    .top11 {
        display: flex;
        flex-direction: column-reverse;
    }

    .header-image {
        display: none;
    }

    .header-text h2 {
        font-size: 25px;
    }

    .header-text p {
        font-size: 12px;
    }

    .company-items {
        font-size: 15px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-active {
        width: fit-content;
    }

    .arrow {
        display: none;
    }

    .blog-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-card1 {
        margin-bottom: 30px;
        width: 24rem;
    }

    .blog-card2 {
        width: 24rem;
    }

    .blog-image img {
        height: 17rem;
        width: 12rem;
    }

    .blog-content h6 {
        font-size: 7px;
    }

    .blog-content h3 {
        font-size: 10px;
    }

    small {
        font-size: 7px;
    }

    .blog-card-bottom-image1 {
        height: 30px;
    }

    .blog-card-bottom-image2 {
        height: 30px;
    }

    .blog-author {
        font-size: 7px;
    }

    .faq-section {
        display: flex;
        flex-direction: column;
    }

    .faq-content h2 {
        font-size: 25px;
        line-height: 1;
    }

    .faq-image {
        display: flex;
        justify-content: center;
    }

    .faq-image img {
        margin-top: 30px;
        height: 15rem;
        width: 30rem;
    }

    .download-section {
        flex-direction: column;
        margin-left: 20px;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .download-email button {
        font-size: 9px;
    }

    form input {
        font-size: 9px;
    }

    .download-content h1 {
        font-size: 20px;
    }

    .download-email {
        width: fit-content;
        margin-top: 20px;
    }

    .footer-section {
        flex-direction: column;
    }
    
    .footer-right {
        justify-content: flex-start;
        margin-bottom: 50px;
        margin-left: -14rem;
    }

    .footer-left {
        margin-left: 30px;
    }

    .footer-right1 img {
        margin-left: -2rem;
        height: 30px;
    }

    .footer-logos {
        margin-right: 50px;
    }

    .footer-logo {
        height: 30px;
    }

    .blog-heading h1 {
        margin-left: 30px;
        font-size: 20px;
    }

    .list-items {
        font-size: 9px;
    }

    .blog-heading span {
        margin-right: 30px;
    }
}
